version: '3.8'

services:
  dashboard-analise:
    image: python:3.9-slim
    container_name: dashboard_analise_container
    restart: always
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    working_dir: /app
    command: python app.py